{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <link rel="stylesheet" href="{% static 'home.css.map' %}">
    </head>

    <body>
        <header>
            <div id="img">
                <a href="#">
                    <img src="https://via.placeholder.com/40x40.jpg?text=dp">
                    Name
                </a>
            </div>
        </header>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="#Home" class="nav">Home</a>
                    </li>
                    <li>
                        <a href="#Feed" class="nav">Feed</a>
                    </li>
                    <li>
                        <a href="#Friends" class="nav">Friends</a>
                    </li>
                    <li>
                        <a href="#chat">Chat</a>
                    </li>
                    <li><a href="#settings">Settings</a></li>
                </ul>
            </div>
        </nav>
    </body>

</html>
