img{
    border: 1px solid gray;
    border-radius: 100px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;

    li{
        float: left;

        a{
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;

            :last-child{
                float: right;
            }
        }
    }
}
